<style type="text/css" media="screen">
/*
.nodes-image {
	margin:-100;
}
*/	
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

.imageblock .content img, .image img {max-width: 100%;}
.deck h3, .deck h4 {display: block !important;margin-bottom:8px;margin-top:5px;}
.listingblock {margin:8px;}
.pull-bottom {position:relative;bottom:1em;}
.admonitionblock td.icon [class^="fa icon-"]{font-size:2.5em;text-shadow:1px 1px 2px rgba(0,0,0,.5);cursor:default}
.admonitionblock td.icon .icon-note:before{content:"\f05a";color:#19407c}
.admonitionblock td.icon .icon-tip:before{content:"\f0eb";text-shadow:1px 1px 2px rgba(155,155,0,.8);color:#111}
.admonitionblock td.icon .icon-warning:before{content:"\f071";color:#bf6900}
.admonitionblock td.icon .icon-caution:before{content:"\f06d";color:#bf3400}
.admonitionblock td.icon .icon-important:before{content:"\f06a";color:#bf0000}
.admonitionblock.note.speaker { display:none; }
</style>
<style type="text/css" media="screen">
/* #editor.maximize-editor .CodeMirror-code { font-size:24px; line-height:26px; } */
</style>
<article class="guide" ng-controller="AdLibDataController">
  <carousel class="deck container-fluid">
    <!--slide class="row-fluid">
      <div class="col-sm-3">
        <h3>POLE Data Model Guide</h3>
        <p class="lead">Information</p>
			<!dl>
				
				
				
				
				
			</dl>
		</div>
      <div class="col-sm-9">
        <figure>
          <img style="width:300px" src=""/>
        </figure>
      </div>
    </slide-->
    


   <h4>POLE Data Model Guide</h4>
   


<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>POLE Model Overview</h3>
    <br/>
    <div>
      <div class="imageblock">
<div class="content">
<img src="https://guides.neo4j.com/sandbox/pole/img/pole_model_visual.jpeg" alt="pole model visual">
</div>
</div>
<div class="paragraph">
<p>In diesem Leitfaden wird gezeigt, wie Neo4j mit einem POLE-Datenmodell im Rahmen von polizeilichen und Kinderschutzuntersuchungen eingesetzt werden kann.</p>
</div>
<div class="paragraph">
<p>Das POLE-Datenmodell konzentriert sich auf vier grundlegende Arten von Entitäten und die Beziehungen zwischen ihnen: <strong>P</strong>ersonen, <strong>O</strong>bjekte, <strong>L</strong>okationen und <strong>E</strong>reignisse.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>POLE Model Use Cases</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Das POLE-Datenmodell ist ein Standardansatz, der in polizeilichen, investigativen und sicherheitsbezogenen Anwendungsfällen eingesetzt wird. Es kann jedoch auch in anderen Bereichen angewendet werden. Typische POLE-Anwendungsfälle sind:</p>
</div>
<div class="ulist">
    <ul>
        <li>
        <p>Polizeiarbeit</p>
        </li>
        <li>
        <p>Terrorismusbekämpfung</p>
        </li>
        <li>
        <p>Grenzkontrolle/Einwanderung</p>
        </li>
        <li>
        <p>Kinderschutz/Sozialdienste</p>
        </li>
        <li>
        <p>Vermisste Personen</p>
        </li>
        <li>
        <p>Rehabilitation von Straftätern</p>
        </li>
        <li>
        <p>Ermittlungen bei Versicherungsbetrug</p>
        </li>
        </ul></div>
<div class="paragraph">
<p>Graphen eignen sich perfekt für Anwendungsfälle wie diese, bei denen es wichtig ist, mit hochgradig vernetzten Daten in Echtzeit arbeiten zu können.  Die Verwendung eines Echtzeitgraphen hilft den Ermittlern, <em>proaktiv</em> zu sein und Verbrechen oder andere Vorfälle zu verhindern, anstatt erst zu reagieren, nachdem ein Vorfall stattgefunden hat.  Ein POLE-Graph kann auch verwendet werden, um Erkenntnisse über Verhaltensmuster und Vorfälle zu gewinnen, die neue Ansätze liefern und einen gezielteren Einsatz begrenzter Ressourcen ermöglichen.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Über die Daten</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Die Kriminalitätsdaten für diese Demo wurden aus öffentlichen Quellen (<a href=„http://data.gov.uk“ class="bare">http://data.gov.uk</a>) heruntergeladen und werden kostenlos zum Download zur Verfügung gestellt, wobei die Standorte auf Block- oder Straßenebene definiert sind und die Straftaten nur nach Monat (d. h. ohne Tages- oder Zeitstempel) definiert sind.  Diese öffentlichen Kriminalitätsdaten enthalten keinerlei Informationen über Personen, die mit Straftaten in Verbindung stehen, nicht einmal in anonymisierter Form. Sie liefern nur Kriminalitäts- und Standortdaten, oder mit anderen Worten nur die „L“ und „E“ für das POLE-Modell.  Diese Demo verwendet Straßenkriminalitätsdaten für den Großraum Manchester, Großbritannien, vom August 2017.</p>
</div>
<div class="paragraph">
<p>Eindeutige Verbrechenskennungen, Längen- und Breitengrad, Art des Verbrechens, Straßen-/Ortsname und letzte Ergebniswerte wurden aus den öffentlichen Dateien zu Straßenkriminalität entnommen.  Die Postleitzahlen des Vereinigten Königreichs wurden über eine öffentliche API unter Verwendung von Längen- und Breitengrad abgerufen, und für andere Entitäten in der Datenbank (Fahrzeuge, Beamte, Personen, Telefonnummern, Telefonanrufe, E-Mails, Tag des Monats usw.) wurden zufällig generierte oder kuratierte Daten verwendet.</p>
</div>
<div class="paragraph">
<p><em>Alle in dieser Demo dargestellten Szenarien und Personen sind fiktiv.  Jede Ähnlichkeit mit realen Personen oder Ereignissen ist zufällig und unbeabsichtigt.</em></p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>General Queries</h3>
    <br/>
    <div>
      


   <h4>Schema</h4>
   <div class="paragraph">
<p>Hier sehen Sie das Graphschema, welches die Typen von Knoten und Kanten zeigt.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->call db.schema.visualization()<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>Es gibt verschiedene Arten, wie Personen miteinander in Beziehung stehen können. Es gibt eine allgemeine „KNOWS“-Beziehung sowie spezifischere Beziehungstypen: FAMILY_REL (verwandt), KNOWS_LW (lebt mit), KNOWS_PHONE (kennt jemanden übers Telefon) und KNOWS_SN (kennt jemanden über ein soziales Netzwerk).</p>
</div>
<div class="paragraph">
<p>Zu beachten ist, dass der Standort sowohl mit der Postleitzahl als auch mit dem Gebiet verknüpft ist. Im Vereinigten Königreich folgen Postleitzahlen einem Format, das die Postleitzahl in zwei Abschnitte unterteilt – zum Beispiel M1 1AA. In diesem Beispiel ist „M1 1AA“ die Postleitzahl und „M1“ das Gebiet.  Dadurch können wir Orte auf unterschiedliche Weise gruppieren und Abfragepfade erstellen, die entweder spezifischer (wie die Postleitzahl, die in der Regel auf eine Straße oder einige Häuserblocks beschränkt ist) oder allgemeiner sind (wie das Gebiet, das ein Stadt- oder Stadtviertel abdecken könnte).</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Queries</h3>
    <br/>
    <div>
      


   <h4>Häufigste Verbrechen</h4>
   <div class="paragraph">
<p>Hier sehen wir die Arten von Straftaten im Graphen und ihre Häufigkeit:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (c:Crime)
RETURN c.type AS crime_type, count(c) AS total
ORDER BY count(c) DESC<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>Es ist zu erkennen, dass „Gewalt- und Sexualdelikte“ die häufigste Art von Straftaten waren, während Waffendelikte am seltensten sind.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Queries</h3>
    <br/>
    <div>
      


   <h4>Lokale Kriminalitätsschwerpunkte</h4>
   <div class="paragraph">
<p>Schauen wir uns auch die Top-Standorte im Graphen an, an denen Verbrechen verzeichnet wurden:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (l:Location)&lt;-[:OCCURRED_AT]-(:Crime)
RETURN l.address AS address, l.postcode AS postcode, count(l) AS total
ORDER BY count(l) DESC
LIMIT 15<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>Es sind Orte und Einrichtungen sehen, die eine hohe Kriminalitätsrate aufweisen – Piccadilly (das Gebiet in der Nähe des Hauptbahnhofs in Manchester), ein Einkaufsviertel (und ein nahe gelegenes Gefängnis) usw. Am Ende der Liste befinden sich einige Adressen mit ziemlich hohen Zahlen, die wie Wohnadressen aussehen (d. h. 35 Straftaten in der 182 Waterson Avenue und 43 in Walker's Croft).</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Räumliches Umfeld</h3>
    <br/>
    <div>
      


   <h4>Verbrechen in der Nähe einer Adresse</h4>
   <div class="paragraph">
<p>Die beliebte britische Fernsehserie „Coronation Street“ spielt in einem fiktiven Viertel in der Gegend von Manchester.  Im Graphen gibt es eine Adresse in der Coronation Street (1 Coronation Street, Wohnort der Familie Barlow in der Serie).  Mit den Längen- und Breitengradeigenschaften in unseren Standortknoten können wir eine entfernungsbasierte Suche durchführen, um Verbrechen zu finden, die sich im Umkreis von 500 Metern um diese Adresse befinden.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (l:Location {address: '1 Coronation Street', postcode: 'M5 3RW'})
WITH point(l) AS corrie
MATCH (x:Location)-[:HAS_POSTCODE]-&gt;(p:PostCode),
(x)&lt;-[:OCCURRED_AT]-(c:Crime)
WITH x, p, c, point.distance(point(x), corrie) AS distance
WHERE distance &lt; 500
RETURN x.address AS address, p.code AS postcode, count(c) AS crime_total, collect(distinct(c.type)) AS crime_type, distance
ORDER BY distance
LIMIT 10<!--/code--></pre>
</div>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Personal</h3>
    <br/>
    <div>
      


   <h4>Verbrechen, die von Inspektor Morse untersucht wurden</h4>
   <div class="paragraph">
<p>Eine weitere beliebte britische Fernsehserie ist „Inspector Morse“.  In unserem Grafen gibt es auch einen Inspector Morse – mal sehen, welche Verbrechen er untersucht.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (o:Officer {rank: 'Chief Inspector', surname: 'Morse'})&lt;-[i:INVESTIGATED_BY]-(c:Crime)
RETURN *<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>Es ist eine ganze Reihe von Kriminalitätsknoten zu sehen, die durch die INVESTIGATED_BY-Beziehung mit dem Inspector Morse-Knoten verbunden sind. Nehmen Sie sich ein paar Minuten Zeit, um auf einige davon zu klicken, um den Graphen zu erweitern und zu sehen, welche anderen Knoten mit einigen dieser Verbrechen in Zusammenhang stehen.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Personal</h3>
    <br/>
    <div>
      


   <h4>Verbrechen, die von Officer Larive untersucht werden</h4>
   <div class="paragraph">
<p>Nehmen wir an, wir interessieren uns für die Verbrechen, die von Constable Devy Larive untersucht werden. (Badge Number 26-5234182).</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (c:Crime {last_outcome: 'Under investigation'})-[i:INVESTIGATED_BY]-&gt;(o:Officer {badge_no: '26-5234182', surname: 'Larive'})
return *<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>Wir sehen, dass Constable Larive derzeit eine Reihe von Verbrechen untersucht. Insbesondere sehen wir, dass PC Larive drei Drogendelikte untersucht. Ein Doppelklick auf diese drei Drogendelikte zeigt uns:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Zwei davon betreffen den Vorwurf des Besitzes von Cannabis mit der Absicht der Lieferung, die an derselben Adresse begangen wurden und dieselbe Person betreffen (Jack Powell).  Diese Straftaten sind mit Beweisen belegt – große Mengen an Bargeld, etwas Cannabis und eine elektronische Waage (alles Hinweise auf den Verkauf/Vertrieb von Cannabis).</p>
</li>
<li>
<p>Das dritte Verbrechen ist die Anklage „Produktion von Cannabis mit der Absicht der Lieferung“, die mit Raymond Walker in Verbindung steht. Diesem Verbrechen sind ebenfalls zwei Beweisknoten zugeordnet.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wir könnten auf diese Knoten klicken und den Graphen manuell erkunden, um weitere Informationen zu erhalten, aber stattdessen schreiben wir einige Abfragen, die uns bei der weiteren Untersuchung helfen können.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Verbindungen</h3>
    <br/>
    <div>
      


   <h4>Shortest Path zwischen Personen, die mit Straftaten in Verbindung stehen</h4>
   <div class="paragraph">
<p>Schauen wir mal, ob die beiden Personen – Jack Powell und Raymond Walker – in Verbindung mit diesen drei Drogenverbrechen im Graphen irgendwie miteinander verbunden sind. Wir suchen nach allen kürzesten Pfaden zwischen ihnen mit 3 oder weniger Sprüngen entlang aller Arten von „KENNT“-Beziehungen. Wir können die Richtung der Beziehungen in dieser Abfrage ignorieren, da wir nicht daran interessiert sind, in welche Richtung sie zeigen.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (c:Crime {last_outcome: 'Under investigation', type: 'Drugs'})-[:INVESTIGATED_BY]-&gt;(:Officer {badge_no: '26-5234182'}),
(c)&lt;-[:PARTY_TO]-(p:Person)
WITH COLLECT(p) AS persons
UNWIND persons AS p1
UNWIND persons AS p2
WITH * WHERE id(p1) &lt; id(p2)
MATCH path = allshortestpaths((p1)-[:KNOWS|KNOWS_LW|KNOWS_SN|FAMILY_REL|KNOWS_PHONE*..3]-(p2))
RETURN path<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>Es stellt sich heraus, dass sie Teil einer sozialen Gruppe sind. Zwei von Raymonds Familienangehörigen (sein Vater Phillip und seine Schwester Kathleen) kennen Alan Ward, den Bruder von Jack Powell. Raymonds Vater Phillip lebt auch mit Jacks Vater Brian zusammen.  Da bekannt ist, dass gegen Raymond wegen der Produktion von Cannabis ermittelt wird, dass gegen Jack wegen zweier getrennter Anklagen wegen des Besitzes von Cannabis mit der Absicht der Lieferung ermittelt wird und dass sie offenbar Teil einer sozialen Gruppe sind, können wir spekulieren, dass sie sich möglicherweise kennen und dass Jack sein Cannabis von Raymond bezieht.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Soziale Netzwerke</h3>
    <br/>
    <div>
      


   <h4>Andere mit Drogenkriminalität in Verbindung stehende Personen</h4>
   <div class="paragraph">
<p>Um weitere Einblicke zu bekommen, werfen wir einen Blick auf die sozialen Netzwerke von Jack Powell und Raymond Walker und schauen, ob jemand anderes, der sich in einem Umkreis von drei Schritten um sie befindet und über „KNOWS“-Beziehungen verfügt, ebenfalls mit einem Drogenverbrechen in Verbindung steht.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH path = (:Officer {badge_no: '26-5234182'})&lt;-[:INVESTIGATED_BY]-(:Crime {type: 'Drugs'})&lt;-[:PARTY_TO]-(:Person)-[:KNOWS*..3]-(:Person)-[:PARTY_TO]-&gt;(:Crime {type: 'Drugs'})
RETURN path<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>Es ergibt sich ein interessantes und dichtes soziales Netzwerk, das familiäre Beziehungen und Menschen, die zusammenleben, umfasst.  Bei der Betrachtung des Graphen können wir Folgendes erkennen:</p>
</div>
<div class="ulist">
  <ul>
    <li>
    <p>Jack wird (von verschiedenen Beamten) auch wegen zweier anderer Drogendelikte untersucht.  Constable Larive könnte sich auch diese Fälle ansehen.</p>
    </li>
    <li>
    <p>Jacks Vater Brian ist mit drei Drogendelikten in Verbindung gebracht worden – jedes Mal wegen Cannabisbesitzes angeklagt.</p>
    </li>
    <li>
    <p>In dritter Generation mit Raymond und Jack verwandt ist Diana Murray, die mit drei Drogendelikten in Verbindung steht – eines wegen einfachen Besitzes und zwei wegen der Absicht, mit Drogen zu handeln.</p>
    </li>
    </ul></div>
    <div class="paragraph">
      <p>Es ist möglich, dass Raymond Cannabis angebaut und an Jack und Diana geliefert hat, die beide damit gedealt haben.  Nehmen Sie sich ein paar Minuten Zeit, um die Beziehungen zu untersuchen und zu verstehen, wie Raymond, Jack und Diana sich kennen könnten.</p>
      </div>
      <div class="paragraph">
      <p>Möglicherweise können wir auch einige zusätzliche Beziehungen in diesem Graphen ableiten:</p>
      </div>
      <div class="ulist">
      <ul>
      <li>
      <p>Da Kathleen und Phillip beide Alan kennen, ist es möglich, dass Raymond Alan kennt – auch wenn dies im Graphen nicht explizit dargestellt ist ?</p>
      </li>
      <li>
      <p>Ebenso ist es wahrscheinlich, dass Jack Phillip kennt, da Alan und Brian Phillip kennen ?</p>
      </li>
      </ul>
      </div>
    </div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Untersuchung zu schutzbedürftigen Personen</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Jetzt folgen eine Reihe von Abfragen zu „gefährdeten“ Personen im Graphen. Dies könnte für den Bereich soziale Dienste oder Kinderschutz wichtig sein. Eine „gefährdete Person“ ist jemand, der selbst nicht mit einem Verbrechen in Verbindung gebracht wird, aber viele Menschen kennt, die mit einem Verbrechen in Verbindung gebracht werden. Mit der folgenden Abfrage wird eine Liste der fünf gefährdetsten Personen im Graphen erstellt.</p>
</div>



   <h4>Top 5 Untersuchung zu schutzbedürftigen Personen</h4>
   <div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (p:Person)-[:KNOWS]-(friend)-[:PARTY_TO]-&gt;(:Crime)
WHERE NOT (p:Person)-[:PARTY_TO]-&gt;(:Crime)
RETURN p.name AS name, p.surname AS surname, p.nhs_no AS id, count(distinct friend) AS dangerousFriends
ORDER BY dangerousFriends DESC
LIMIT 5<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>In den nächsten Schritten beziehen wird uns auf diese Liste, daher sollten die Ergebnisse griffbereit sein (versuchen Sie, sie mit dem Reißzwecken-Symbol oben anzuheften).</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Untersuchung zu schutzbedürftigen Personen</h3>
    <br/>
    <div>
      


   <h4>Friend of a Friend</h4>
   <div class="paragraph">
<p>Mit Cypher kann man im Graphen das sozialen Umfeld zu erkunden. Eine kleine Änderung der Abfrage ermöglicht es uns, nicht nur Freunde von Personen zu sehen, die mit Verbrechen in Verbindung gebracht werden, sondern auch „Freunde von Freunden“, die ebenfalls mit Verbrechen in Verbindung gebracht werden.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (p:Person)-[:KNOWS*1..2]-(friend)-[:PARTY_TO]-&gt;(:Crime)
WHERE NOT (p:Person)-[:PARTY_TO]-&gt;(:Crime)
RETURN p.name AS name, p.surname AS surname, p.nhs_no AS id, count(distinct friend) AS dangerousFriends
ORDER BY dangerousFriends DESC
LIMIT 5<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>Versuchen Sie, die Abfrage so zu ändern, dass sie „Freunde von Freunden von Freunden“ (3 „KENNT“-Beziehungen) berücksichtigt, und sehen Sie, wie sich die Ergebnisse dadurch ändern.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Untersuchung zu schutzbedürftigen Personen</h3>
    <br/>
    <div>
      


   <h4>Untersuchung zu schutzbedürftigen Personen im Graphen</h4>
   <div class="paragraph">
<p>Der Graph zeigt das beste Ergebnis aus unseren ursprünglichen Ergebnissen für gefährdete Personen an (die Sie hoffentlich in einem vorherigen Schritt angeheftet haben).</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH path = (:Location)&lt;-[:CURRENT_ADDRESS]-(:Person {nhs_no: '804-54-6976', surname: 'Freeman'})-[:KNOWS]-(:Person)-[:PARTY_TO]-&gt;(:Crime)
RETURN path<!--/code--></pre>
</div>
</div>
<div class="paragraph">
  <p>Wir sehen, dass Anne Freeman 8 gefährliche Freunde hat.  Mit ihrer ID zeigt uns diese Abfrage den Graphen dieser Freunde, in dem wir navigieren und es erkunden können.</p>
  </div>
  <div class="paragraph">
  <p>Sie können auch versuchen, diese Abfrage zu aktualisieren, um „Freunde von Freunden“ oder „Freunde von Freunden von Freunden“ anzuzeigen, wie wir es zuvor getan haben.</p>
  </div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Untersuchung zu schutzbedürftigen Personen</h3>
    <br/>
    <div>
      


   <h4>Auf der Suche nach gefährlichen Freunden vor Ort</h4>
   <div class="paragraph">
<p>Nachdem wir nun Anne Freemans Freundeskreis gesehen haben, wäre es gut zu wissen, ob einer ihrer gefährlichen Freunde tatsächlich aus ihrer Gegend (aus ihrer Region oder Nachbarschaft) stammt.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (anne:Person {nhs_no: '804-54-6976', surname: 'Freeman'})-[k:KNOWS]-(friend)-[pt:PARTY_TO]-&gt;(c:Crime),
(anne)-[ca1:CURRENT_ADDRESS]-&gt;(aAddress)-[lia1:LOCATION_IN_AREA]-&gt;(area),
(friend)-[ca2:CURRENT_ADDRESS]-&gt;(fAddress)-[lia2:LOCATION_IN_AREA]-&gt;(area)
RETURN *<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>Wir sehen, dass nur ihr Freund Craig, den sie über soziale Netzwerke kennt, im selben Gebiet (SK1) wie Anne lebt. Craig wurde mit zwei Verstößen gegen die öffentliche Ordnung in Verbindung gebracht.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Untersuchung zu schutzbedürftigen Personen</h3>
    <br/>
    <div>
      


   <h4>Suche nach Verbindungen zwischen gefährdeten Personen</h4>
   <div class="paragraph">
<p>Gehen wir zurück zur Liste der gefährdeten Personen und schauen, ob eine Verbindung zwischen ihnen besteht. Diese Abfrage verwendet die Ergebnisse der Abfrage der gefährdeten Personen und sucht nach Pfaden von „KENNT“-Beziehungen, die sie verbinden.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (p:Person)-[:KNOWS]-(friend)-[:PARTY_TO]-&gt;(:Crime)
WHERE NOT (p:Person)-[:PARTY_TO]-&gt;(:Crime)
WITH p, count(distinct friend) AS dangerousFriends
ORDER BY dangerousFriends DESC
LIMIT 5
WITH COLLECT (p) AS people
UNWIND people AS p1
UNWIND people AS p2
WITH * WHERE id(p1) &lt;&gt; id (p2)
MATCH path = shortestpath((p1)-[:KNOWS*]-(p2))
RETURN path<!--/code--></pre>
</div>
</div>
<div class="paragraph">
  <p>Es hat sich herausgestellt, dass es Verbindungen zwischen ihnen gibt, die unterschiedlich lang sind.  Es gibt tatsächlich mehrere Wege, über die einige von ihnen miteinander verbunden sind.</p>
  </div>
  <div class="paragraph">
  <p>Wir sind nun mit der ursprünglichen Liste der gefährdeten Personen fertig und diese Ergebnisse können geschlossen oder entfernt werden.</p>
  </div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Untersuchung zu schutzbedürftigen Personen</h3>
    <br/>
    <div>
      


   <h4>Auf der Suche nach gefährlichen Freunden der Familie</h4>
   <div class="paragraph">
<p>Nun folgt eine weitere Abfrage mit der nach gefährdeten oder gefährdeten Personen gesucht wird, diesmal jedoch basierend auf ihren familiären Beziehungen und nicht auf ihren direkten sozialen Beziehungen. Wir suchen nach Personen, die nicht direkt mit einem Verbrechen in Verbindung stehen und deren Verwandte auch nicht, aber deren Verwandte gefährliche Freunde haben.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (p:Person)-[:FAMILY_REL]-(relative)-[:KNOWS]-(famFriend)-[:PARTY_TO]-&gt;(:Crime)
WHERE NOT (p:Person)-[:PARTY_TO]-&gt;(:Crime) AND
 NOT (relative)-[:PARTY_TO]-&gt;(:Crime)
RETURN p.name AS name, p.surname AS surname, p.nhs_no AS id, count(DISTINCT famFriend) AS DangerousFamilyFriends
ORDER BY DangerousFamilyFriends DESC
LIMIT 5<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>Sie sollten 5 Personen sehen, die Familienmitglieder mit gefährlichen Freunden haben.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Untersuchung zu schutzbedürftigen Personen</h3>
    <br/>
    <div>
      


   <h4>Auf der Suche nach gefährlichen Freunden der Familie</h4>
   <div class="paragraph">
<p>Die vorherige Abfrage hat eine gute Auswahl an gefährdeten Personen ergeben. Sie ist jedoch wahrscheinlich nicht spezifisch genug – es wäre interessanter, diese Liste mit der zusätzlichen Anforderung zu sehen, dass die gefährdeten Personen mit einem Verwandten zusammenleben, der gefährliche Freunde hat.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (p:Person)-[:FAMILY_REL]-(relative)-[:KNOWS]-(famFriend)-[:PARTY_TO]-&gt;(:Crime),
(p)-[:CURRENT_ADDRESS]-&gt;(:Location)&lt;-[:CURRENT_ADDRESS]-(relative)
WHERE NOT (p:Person)-[:PARTY_TO]-&gt;(:Crime) AND
 NOT (relative)-[:PARTY_TO]-&gt;(:Crime)
RETURN p.name AS name, p.surname AS surname, p.nhs_no AS id, count(DISTINCT famFriend) AS DangerousFamilyFriends
ORDER BY DangerousFamilyFriends DESC
LIMIT 5<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>Diese Abfrage gibt nur 2 Personen zurück, aber die Person mit der höchsten Anzahl an gefährlichen Familienfreunden (Kimberly Alexander) ist dieselbe wie in den Ergebnissen der vorherigen Abfrage.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Untersuchung zu schutzbedürftigen Personen</h3>
    <br/>
    <div>
      


   <h4>Untersuchung zu schutzbedürftigen Personen im Graphen</h4>
   <div class="paragraph">
<p>Wir können Kimberleys Graphen einsehen und sehen, dass Kimberly (12 Jahre alt) mit ihrer Mutter Bonnie in 53 Ridge Grove lebt. Bonnie hat mehrere Freunde, die mit einer Reihe von Verbrechen unterschiedlicher Art in Verbindung stehen. Es besteht eine hohe Wahrscheinlichkeit, dass Kimberly Umgang mit diesen Menschen hat und sie deshlab potenziell gefährdet ist.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH path = (relative:Person)-[:CURRENT_ADDRESS]-&gt;(:Location)&lt;-[:CURRENT_ADDRESS]-(:Person {nhs_no: '548-59-5017', surname: 'Alexander'})-[:FAMILY_REL]-(relative)-[:KNOWS]-(:Person)-[:PARTY_TO]-&gt;(:Crime)
RETURN path<!--/code--></pre>
</div>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Graph Algorithmen</h3>
    <br/>
    <div>
      


   <h4>Graph projection</h4>
   <div class="paragraph">
    <p>Zuletzt können wir uns einige Graphenalgorithmen ansehen und herausfinden, wie sie auf unseren Anwendungsfall angewendet werden können.
      Graphenalgorithmen werden auf In-Memory-Graphenprojektionen ausgeführt.
      Es gibt die Möglichkeit, je nach Bedarf den gesamten gespeicherten Graphen oder nur einen Teil des Graphen zu projizieren.</p>
   </div>
<div class="paragraph">
<p>Führen Sie die folgende Abfrage aus, um Personenknoten und KNOWS-Beziehungen im In-Memory-Graphen zu projizieren.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.graph.project('social',
  'Person',
  {KNOWS: {orientation:'UNDIRECTED'}})<!--/code--></pre>
</div>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Algorithmen</h3>
    <br/>
    <div>
      


   <h4>Triangle Count</h4>
   <div class="paragraph">
<p>Der Algorithmus Triangle Count (Dreieckszählung) gibt „Dreiecke“ aus verbundenen Knoten zurück – in diesem Fall Gruppen von drei Personen, bei denen jeder Knoten in der Gruppe die anderen „KENNT“ („A“ kennt „B“, „B“ kennt „C“, „C“ kennt „A“).  Dies ist ein gängiger Ansatz bei der Analyse sozialer Graphen, bei denen die Häufigkeit solcher Dreiecke höher ist als in einem zufälligen Datensatz/einer zufälligen Stichprobe.  Dadurch werden Gemeinschaften oder Cluster von Verbindungen in Graphen identifiziert, was in einem polizeilichen Kontext zur Identifizierung von Banden oder anderen kriminellen/verdächtigen Gruppen genutzt werden kann.</p>
</div>
<div class="paragraph">
<p>Mit der folgenden Abfrage werden Personenknoten in unserem Graphen zu identifiziert, die an den meisten Dreiecken beteiligt sind.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.triangleCount.stream('social')
  YIELD nodeId, triangleCount as triangles
WITH gds.util.asNode(nodeId) AS node, triangles
RETURN node.name AS name, node.surname AS surname, node.nhs_no AS id, triangles
ORDER BY triangles DESC
LIMIT 10;<!--/code--></pre>
</div>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Algorithms</h3>
    <br/>
    <div>
      


   <h4>Triangle Count</h4>
   <div class="paragraph">
    <p>Wir können uns den Graphen einer der zurückgegebenen Dreieckssätze ansehen – Deborah Ford, die zu zehn Dreiecken gehört.</p>
  </div>
  <div class="paragraph">
  <p>Wir sehen, dass Patricia Carr sowohl Deborah Ford als auch Jonathan Hunt kennt und dass sowohl Deborah als auch Jonathan Peter Bryant, Harry Lopez und Phillip Perry kennen.  Daraus können wir schließen, dass Patricia auch Peter, Harry und Phillip kennt.</p>
  </div>
  <div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH path = (p1:Person {nhs_no: '838-45-9343', surname: 'Ford'})-[:KNOWS]-(p2)-[:KNOWS]-(p3)-[:KNOWS]-(p1)
RETURN path<!--/code--></pre>
</div>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Algorithmen</h3>
    <br/>
    <div>
      


   <h4>Triangle Count on a Subgraph</h4>
   <div class="paragraph">
    <p>Die vorherige Abfrage war interessant, aber wir haben sie auf den gesamten Graphen angewendet.  Wir können denselben Algorithmus auf einen Teil-Graphen anwenden – zum Beispiel nur auf Personen, die mit Verbrechen in Verbindung gebracht werden.  Dies ergibt eine andere Gruppe von Dreiecken, die nur aus Personen besteht, die mit Verbrechen in Verbindung gebracht werden und in Gemeinschaften/Clustern erscheinen.</p>
  </div>
  <div class="paragraph">
  <p>Führen Sie die folgende Abfrage aus, um ein Teilnetz zu projizieren, das nur Personen enthält, die mit Straftaten in Verbindung stehen.</p>
  </div>
  <div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (p0:Person)-[:PARTY_TO]-&gt;(:Crime)
WITH collect(DISTINCT id(p0)) as criminalPartyIds
MATCH (s:Person)-[r:KNOWS]-&gt;(t:Person)
WHERE (id(s) IN criminalPartyIds) AND (id(t) IN criminalPartyIds)
WITH gds.alpha.graph.project('crime-associates', s, t,
    {sourceNodeLabels:labels(s), targetNodeLabels:labels(t)},
    {relationshipType:type(r)}, {undirectedRelationshipTypes:[type(r)]}) AS g
RETURN g.graphName AS graph, g.nodeCount AS nodes, g.relationshipCount AS rels<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>Nachdem Sie das In-Memory-Graphen projiziert haben, können Sie die Dreieckszählung des Teilgraphen der kriminellen Vereinigung ausführen, indem Sie die folgende Abfrage ausführen.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.triangleCount.stream('crime-associates')
YIELD nodeId, triangleCount as triangles
WITH gds.util.asNode(nodeId) AS node, triangles
RETURN node.name AS name, node.surname AS surname, node.nhs_no AS id, triangles
ORDER BY triangles DESC
LIMIT 5;<!--/code--></pre>
</div>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Algorithmen</h3>
    <br/>
    <div>
      


   <h4>Triangle Count in einem Subgraphen</h4>
   <div class="paragraph">
<p>Ein Blick auf die Dreiecke, die mit einem der Top-Ergebnisse der vorherigen Abfrage (Phillip Williamson) verbunden sind, zeigt eine interessante Gruppe von Personen, die sich kennen, miteinander verwandt sind und/oder zusammenleben.  Die Namen kommen uns von unserer vorherigen Drogenuntersuchung bekannt vor – wir haben es hier mit einer ganzen Gruppe potenzieller Krimineller zu tun. Zusätzlich zu den Drogendelikten gibt es viele Fahrzeugdelikte, die mit dieser sozialen Gruppe in Verbindung stehen. Vielleicht handelt es sich um eine Bande, die auf Autodiebstahl spezialisiert ist. Es ist interessant zu sehen, wie die Algorithmen automatisch etwas aufgedeckt haben, nach dem wir früher gezielt suchen mussten (während unserer Drogensuche hatten wir bestimmte Knotenpunkte für Beamte und Personen, von denen aus wir unsere Suche starteten)..</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (p1:Person {nhs_no: '337-28-4424', surname: 'Williamson'})-[k1:KNOWS]-(p2)-[k2:KNOWS]-(p3)-[k3:KNOWS]-(p1)
WITH *
MATCH (person)-[pt:PARTY_TO]-&gt;(crime) WHERE person IN[p1, p2, p3]
RETURN *<!--/code--></pre>
</div>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Algorithms</h3>
    <br/>
    <div>
      


   <h4>Betweenness Centrality</h4>
   <div class="paragraph">
<p>Der „Betweenness“-Algorithmus misst die Zentralität im Graphen – eine Methode zur Identifizierung der wichtigsten Knoten in einem Graphen. Dies geschieht durch die Identifizierung von Knoten, die auf dem kürzesten Weg zwischen vielen anderen Knoten liegen, und deren höhere Bewertung.  Mit diesem Maß können wir die Personen erkennen, die im Graphen möglicherweise wichtig sind – sie befinden sich auf dem kürzesten Weg zwischen den meisten anderen Personen über die „KENNT“-Beziehung (wobei die Richtung der Beziehung ignoriert wird, da sie hier nicht sehr wichtig ist). Informationen und Ressourcen fließen in der Regel auf den kürzesten Wegen in einem Graph, sodass dies eine gute Möglichkeit ist, zentrale Knoten oder „Brückenknoten“ zwischen den Gemeinschaften im Graphen zu identifizieren.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.betweenness.stream('social')
YIELD nodeId, score AS centrality
WITH gds.util.asNode(nodeId) AS node, centrality
RETURN node.name AS name, node.surname AS surname, node.nhs_no AS id, toInteger(centrality) AS score
ORDER BY centrality DESC
LIMIT 10;<!--/code--></pre>
</div>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Algorithms</h3>
    <br/>
    <div>
      


   <h4>Betweenness Centrality</h4>
   <div class="paragraph">
<p>Nun wird der Graph des besten Treffers der vorherigen Abfrage (Annie Duncan) mit bis zu drei Ebenen visualisiert um zu untersuchen, wie gut sie vernetzt ist. Sie scheint zwischen mehreren Clustern bzw. Gemeinschaften dieses Graphen zu sitzen. Wir erhalten noch mehr Ergebnisse, wenn wir weiter als drei Ebenen ansehen, aber die Ergebnisse wären schwieriger zu visualisieren und es würde länger dauern, sie auf dem Bildschirm darzustellen.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH path = (:Person {nhs_no: '863-96-9468', surname: 'Duncan'})-[:KNOWS*..3]-(:Person)
RETURN path<!--/code--></pre>
</div>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Ende</h3>
    <br/>
    <div>
      <div class="paragraph">
        <p>Es wurden eine POLE-Datenmodellierung und -abfragen vorgestellt.</p>
      </div>
      <div class="paragraph">
      <p>Um die Nachvollziehbarkeit der Demo zu erleichtern, wurde die „NHS-Nummer“ als simulierte eindeutige Kennung für Personenknoten verwendet, obwohl in einem realen Szenario wahrscheinlich keine einheitliche Kennung wäre. Stattdessen gäbe es eine Vielzahl von Kennungen, Abgleichskriterien, Abfragemethoden usw.</p>
      </div>
      <div class="paragraph">
      <p>Einige Beispiele für zusätzliche Komplexität in in einem realen Szenario wären:</p>
      </div>
      <div class="ulist">
      <ul>
      <li>
      <p>Verwendung von „Personas“ anstelle von „Personen“, um Dinge wie Aliasnamen zu berücksichtigen.</p>
      </li>
      <li>
      <p>Mehr Typen von Beziehungen zwischen Personen und Straftaten (z.B. Zeuge, Opfer, Verdächtiger, Verurteilter)</p>
      </li>
      <li>
      <p>Rückverfolgbarkeit und Prüfung von Daten: In der Praxis ist es sehr wichtig, die Herkunft der Daten zu klären und nachzuweisen, dass wir das Recht haben, diese Informationen zu speichern (d. h. wurden sie im Rahmen einer Untersuchung entdeckt, sind sie öffentlich zugänglich, sind sie Teil eines anderen Dokuments oder stehen sie in Zusammenhang mit einem anderen Fall, wer hat die Informationen wann eingegeben, wer hat sie aktualisiert, wurden sie überprüft usw.).</p>
      </li>
      <li>
      <p>Hinzufügen eines robusten Sicherheitsmechanismus, um den Zugriff auf Daten auf diejenigen zu beschränken, die über die entsprechende Berechtigung verfügen.</p>
      </li>
      <li>
      <p>Verwendung von Gewichtungen für Queries und Algorithmen – zum Beispiel könnten einige Straftaten als gefährlicher angesehen werden als andere (d. h. Gewalt- und Sexualdelikte sind schwerwiegender als Ladendiebstahl), oder einige Beziehungen könnten als zuverlässiger oder enger angesehen werden (d. h. „Familie“ oder „lebt mit“ könnten stärker gewichtet werden als „soziales Netzwerk“)</p>
      </li>
      </ul>
      </div>	</div>
  </div>
</slide>
  </carousel>
</article>